	<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<script src="script.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        

        <div id="page-wrapper">
            <div class="row">
                &nbsp
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-danger power">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">מתחים</div>
                                    <div>&nbsp</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-danger power" style="text-align: center;">
                                     <h4>440 V</h4>
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger power" style="text-align: center;">
                                      <h4>220 V</h4>
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger power" style="text-align: center;">
                                     <h4>115 V</h4>
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-warning isolation">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-minus-sign fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">אטימות</div>
                                    <div>&nbsp</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-danger isolation" style="text-align: center;">
                                       <h4>מכשירים ב</h4>
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success isolation" style="text-align: center;">
                                        <h4>מכונה אחורי</h4>
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success isolation" style="text-align: center;">
                                        <h4>האצ' מכונה</h4>
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-danger firemen">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-user fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">כבאים</div>
                                    <div>&nbsp</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-danger firemen" style="text-align: center;">
                                        <h4>דרגר 1</h4>  
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger firemen" style="text-align: center;">
                                        <h4>דרגר 2</h4> 
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger firemen" style="text-align: center;">
                                         <h4>דרגר 3</h4>  
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-volume-up fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">דיווח</div>
                                    <div>&nbsp</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-danger" style="text-align: center;">
                                        <h4>מד''צ</h4>
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger" style="text-align: center;">
                                        <h4>מש''א</h4>
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-danger" style="text-align: center;">
                                        <h4>מש''ז </h4>
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-warning pipelines">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">פריסה</div>
                                    <div>&nbsp</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-danger pipelines" style="text-align: center;">
                                                                                <h4>קדמי</h4>
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success pipelines" style="text-align: center;">
                                        <i class=""></i>                                         <h4>אחורי</h4>
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success pipelines" style="text-align: center;">
                                        <i class=""></i>                                         <h4>עליון</h4>
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-tint fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="h2">9.7bar</div>
                                    <div>לחץ קו כיבוי אש</div>
                                </div>
                            </div>
                        </div>  
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-success" style="text-align: center;">
                                       <h4> משאבה 1 </h4>
                                        <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success" style="text-align: center;">
                                        <h4>משאבה 2 </h4>
                                        <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-success" style="text-align: center;">
                                        <h4>משאבה 3 </h4>
                                        <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                        <!--</span>-->
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->

                    <!-- /.panel -->
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-8 -->
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"  style="text-align: center;">
                         <h4>  המלצות 
                          <i class="fa fa-bell fa-fw"></i> 
                          </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-danger"  style="text-align: right;">
<h4><span id="recommandation1"></span><i class="fa fa-exclamation-triangle fa-fw"></i></h4> 
                                  <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                    </span>
                                </a>
                                <a href="#" class="list-group-item"  style="text-align: right;">
<h4><span id="recommandation2"></span><i class="fa fa-exclamation-triangle fa-fw"></i></h4> 
                                </a>
                                <a href="#" class="list-group-item"  style="text-align: right;">
                        <h4><span id="recommandation3"></span><i class="fa fa-exclamation-triangle fa-fw"></i></h4> 
                                </a>
                                <a href="#" class="list-group-item">
                                    <!--<i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>-->
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>-->
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <!--<script src="../vendor/morrisjs/morris.min.js"></script>-->
    <!--<script src="../data/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
